.login-form-wrapper {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.login-form-container {
  width: 500px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid rgba(211, 211, 211, 0.51);
  box-shadow: 0 4px 8px 0 #d3d3d3;

  color: #7451f8;
}

.error {
  width: max-content;
  font-size: 12px;
  text-align: center;
  color: rgba(255, 0, 0, 0.71);
  padding: 2px 7px 2px 7px;
  border-radius: 5px;
}

.login-title {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  color: #7451f8;
}

.login-form {
  margin-top: 30px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

.form-field label {
  font-weight: 600;
}

.form-field input {
  margin: 8px 0;
  padding: 10px 5px;

  border-radius: 7px;
  border: 1px solid #808080;
}

.form-button input {
  width: 100%;
  margin-top: 20px;

  font-weight: 700;
  font-size: 1rem;

  border: 1px solid #7451f8;

  background-color: #7451f8;
  color: #fff;
}

.form-field input:focus {
  border: 1px solid #fff;
  outline: 1px solid #7451f8;
}

.form-button input:hover {
  color: #7451f8;
  background-color: #fff;

  cursor: pointer;
}
