.register-form-wrapper{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form-container {
  width: 500px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid rgba(211, 211, 211, 0.51);
  box-shadow: 0 4px 8px 0 #d3d3d3;

  color: #7451f8;
  margin: 40px auto;
}

.register-title {
  text-align: center;
  margin: 20px auto;

  font-weight: 600;
}

.register-form .form-field {
  margin: inherit 20px;
}

.register-form .form-field input {
  margin: 8px 0;
  padding: 7px 5px;

  border-radius: 7px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  gap: 15px;

  margin: 10px 0
}

.form-group .form-field{
  width: 100%;
  margin: 0 ;

}

.register-footer-text{
  text-align: center;
  color: #a3a3a3
}


.register-footer-text .link{
  color: #7451f8;
}
