.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  margin-bottom: 20px;
  background-color: #fff;
}

.profile-header {
  font-size: 30px;
  color: #7451f8;
}

.profile-card {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 95%;

  padding: 15px 20px;

  border: 1px solid #e4e4e4;
  border-radius: 10px;
}

.profile-user-details {
  font-size: 20px;
  width: 100%;
}

.profile-user-details .flex-row-container {
  gap: 30px;
  align-items: center;
}

.profile-follow-button button{
  padding: 5px 20px;
  font-size: 16px;
  font-weight: bold;

  background-color: #fff;
  color: #7451f8;

  border: 1px solid #7451f8;
  border-radius: 8px;
}

.profile-follow-button button:hover{
  background-color: #7451f8;
  color: #fff;
}

.profile-follow-details {
  font-size: 15px;
  font-weight: 600;
  margin: 10px 0;
  padding: 10px 0;

  border-top: 1px solid #e4e4e4;
}

.profile-email {
  color: #808080;
  font-size: 16px;
}

.profile-image img {
  height: 120px;
  width: 120px;
  margin: 20px auto;
}

@media (max-width: 500px) {
  .profile-image img {
    height: 60px;
    width: 60px;
  }

  .profile-follow-details {
    text-align: center;
  }
}
