.home {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 50px;
}

.home .posts {
  width: 55%;
  margin-left: calc(17%);
}

@media (max-width: 500px) {
  .home {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

  }

  .home .posts {
    width: 100%;
    margin: 0;
  }
}
