.navbar {
  height: 10vh;
  width: 100%;

  position: fixed;
  z-index: 10;

  display: flex;
  align-items: center;

  overflow: hidden;

  background-color: #fff;
  box-shadow: 0 2px 6px 0 #d3d3d3;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 80%;
  margin: 0 auto;
}

.nav-item {
  margin-left: 20px;
  padding: 5px 10px;
  margin: 0 5px;


  color: rgba(116, 81, 248, 0.8);
  font-size: 1.07rem;
  border-right: 1px solid rgba(116, 81, 248, 0.55);
  border-radius: 0;
}

.nav-item:hover {
  color: #7451f9;
  font-weight: 600;
  margin: 0 4px;

}

.brand {
  margin-right: auto;
  margin-left: 0;
  border: none;
  font-size: 1.6rem;
  color: #7451f8;
}


@media (max-width: 500px) {
  .navbar{
    height: 8vh;
  }
  .nav-item{
    font-size: 0.95rem;
  }

  .brand{
    font-size: 1.2rem;
  }
}
