.navbar {
  height: 8vh;
  width: 100%;

  position: fixed;
  z-index: 10;

  display: flex;
  align-items: center;

  overflow: hidden;

  background-color: #fff;
  box-shadow: 0 2px 6px 0 #d3d3d3;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;

  width: 80%;
  margin: 0 auto;
}

.nav-item {
  height: 100%;
  padding: 5px 20px;

  margin: auto 30px;
  margin-right: 0;

  border: 1px solid #808080;
}

.brand {
  margin-right: auto;
  margin-left: 0;
}
