.navbar {
  height: 10vh;
  width: 100%;

  position: fixed;
  z-index: 10;

  display: flex;
  align-items: center;

  overflow: hidden;

  background-color: #fff;
  box-shadow: 0 2px 6px 0 #d3d3d3;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;

  width: 80%;
  margin: 0 auto;
}

.nav-item {
  height: 80%;

  margin: auto 30px;
  margin-right: 0;

}

.brand {
  margin-right: auto;
  margin-left: 0;
  border: none;
  font-size: 1.5rem;
  color: #7451f8;
}

.user-name {
  border: none;
}
