@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@300;400;700&display=swap");

.post-details-container {
  width: 75%;
  margin: 10px auto;
  padding: 2rem 4rem;
  background-color: #fff;

  box-shadow: 0 4px 8px 0 #d3d3d3;
  border-radius: 10px;
}

.post-detail-error-container {
  color: #ff0000;
  width: 85%;
  margin: auto;
}

.post-details-buttons {
  width: 85%;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
}

.button-group {
  display: flex;
  gap: 20px;
}

.button-group button {
  display: flex;
  gap: 10px;
  padding: 0.75rem 1rem;
  font-size: 1rem;

  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #7451f8;
  color: #7451f8;
}

.button-group button:hover {
  color: #fff;
  background-color: #7451f8;
}

.post-details-header {
  display: flex;
  gap: 2%;

  margin-bottom: 20px;
}

.post-details-header img {
  border-radius: 50%;
  width: 60px;
  height: 60px;

  border: 1px solid #d3d3d3;
}

.post-details-title {
  margin: 2rem auto;
}

.post-details-title h1 {
  font-family: Roboto;
  font-weight: 400;
  color: #2a2a2a;
  line-height: 1.5rem;
}

.post-details-body {
  margin: 2rem auto;
  color: #474747;

  font-size: 1rem;
  font-family: Nunito;
  font-weight: 400;
  line-height: 1.2rem;
  letter-spacing: 0.75px;
}

.post-details-footer {
  display: flex;
  gap: 30px;
  font-size: 1rem;
  color: #808080;

  margin: 2rem auto 1rem;
}

.post-details-reaction {
  display: flex;
  gap: 5px;
}

.post-details-reaction .icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.post-details-reaction .liked {
  color: #ff0000;
}

.post-details-reaction .like:hover {
  background-color: rgba(255, 0, 0, 0.18);
  border-radius: 50%;
  color: #ff0000;
}

.author-info .author-name-link:hover {
  color: #7451f8;
  cursor: pointer;
}

@media (max-width: 500px) {
  .button-group {
    gap: 10px;
  }

  .button-group button {
    padding: 0.4rem 0.6rem;
    font-size: 0.95rem;
  }

  .post-details-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .post-details-container {
    width: 85%;
    margin: 10px auto;
    padding: 1rem 2rem;
  }

  .post-details-body {
    font-size: 0.8rem;
  }
}
